<div class="justify-content-center cards">
  <% @movies.each do |movie| %>
    <div class="card-movie" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
      <%= movie.title %>
    </div>
  <% end %>
</div>
