<%= render "navbar" %>
<div class="container-fluid mx-0">
  <div class="row mx-0">
    <div class="justify-content-center col">
      <div class="card-form w-100 sticky-top mt-5">
        <img src="https://smoothphotoscanning.com/wp-content/uploads/2020/07/pic-new-2-e1594364405908.jpg" />
        <div class="card-form-infos d-flex justify-content-center">
          <div>
            <h2>New Bookmark</h2>
            <%= render "form", list: @list, bookmark: @bookmark %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
      <h1 class="fw-bold mt-5">Top rated Movies</h1>
      <%= render "movie_card", movies: @movies %>
    </div>
  </div>
</div>
